* {
	margin:0px;
	padding:0px;
}

html {
}


body {
 	background-color:#bbb;
}


h1 {
}








header {
height:150px;
background-image:url(images/bg_banner.png);
background-repeat:x-repeat;
}


footer {
clear:both;
background-color:blue;
height:200px;

}
  

#wrapper {
margin-left:auto;
margin-right:auto;
background-color:white;
}

#code {
height:150px;
background-image:url(images/code_banner.png);
background-repeat:no-repeat;
}

#title {
	position:absolute;
	left:10%;
	top:0px;
	width:200px;
	padding:25px;
	margin:0px;
	background-color:#4a3320; 
	color:white;
	
}

#login {
float:right;
}

#search {
clear:both;
background-color:#e6e6e6;
}

#data {
background-color:white;
min-width:700px;
}
 
#left {
float:left;
width:70%;
min-height:600px;
background-color:pink;
}

#right {
float:right;
width:30%;
background-color:cyan;

} 



 

