<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  
  <servlet>
    <servlet-name>communicationImpl</servlet-name>
    <servlet-class>org.smartsnip.core.CommunicationImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>communicationImpl</servlet-name>
    <url-pattern>/org_smartsnip/comm</url-pattern>
  </servlet-mapping>
  
 
    <servlet>
    <servlet-name>RipImpl</servlet-name>
    <servlet-class>org.smartsnip.core.Rip</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>RipImpl</servlet-name>
    <url-pattern>/org_smartsnip/rip</url-pattern>
  </servlet-mapping>
  
  
     <servlet>
    <servlet-name>User</servlet-name>
    <servlet-class>org.smartsnip.core.User</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>User</servlet-name>
    <url-pattern>/org_smartsnip/user</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
    <servlet-name>Comment</servlet-name>
    <servlet-class>org.smartsnip.core.Comment</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Comment</servlet-name>
    <url-pattern>/org_smartsnip/comment</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
    <servlet-name>Snippet</servlet-name>
    <servlet-class>org.smartsnip.core.Snippet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Snippet</servlet-name>
    <url-pattern>/org_smartsnip/snippet</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>Category</servlet-name>
    <servlet-class>org.smartsnip.core.Category</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Category</servlet-name>
    <url-pattern>/org_smartsnip/category</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>Notification</servlet-name>
    <servlet-class>org.smartsnip.core.Notification</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Notification</servlet-name>
    <url-pattern>/org_smartsnip/notification</url-pattern>
  </servlet-mapping>
  
  
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

</web-app>
