<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">
  <!-- Servlets -->
 
  

     <servlet>
    <servlet-name>Session</servlet-name>
    <servlet-class>org.smartsnip.server.ISessionImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Session</servlet-name>
    <url-pattern>/org_smartsnip/session</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>Snippet</servlet-name>
    <servlet-class>org.smartsnip.server.ISnippetImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Snippet</servlet-name>
    <url-pattern>/org_smartsnip/snippet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>Comment</servlet-name>
    <servlet-class>org.smartsnip.server.ICommentImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Comment</servlet-name>
    <url-pattern>/org_smartsnip/comment</url-pattern>
  </servlet-mapping>
  
  
  ICommentImpl
  
   <servlet>
    <servlet-name>Category</servlet-name>
    <servlet-class>org.smartsnip.server.ICategoryImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Category</servlet-name>
    <url-pattern>/org_smartsnip/category</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SnippetOfDay</servlet-name>
    <servlet-class>org.smartsnip.server.SnippetOfDay</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>SnippetOfDay</servlet-name>
    <url-pattern>/org_smartsnip/snippetofday</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>SnippetOfDay</servlet-name>
    <url-pattern>/snippetofday</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SourceDownloader</servlet-name>
    <servlet-class>org.smartsnip.server.SourceDownloader</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>SourceDownloader</servlet-name>
    <url-pattern>/org_smartsnip/downloader</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>SourceDownloader</servlet-name>
    <url-pattern>/downloader</url-pattern>
  </servlet-mapping>







  
  
 
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

</web-app>
