
/* Style used for simple HTML*/

* {
	margin:0px;
	padding:0px;
}

html {
	margin:0px;
	padding:0px;
}


body {
 	background-color:red;
 	margin:0px;
	padding:0px;


}


h1 {
}




header {
	height:110px;
}


footer {
	height:200px;
	background-image:url(images/bg_banner.png);
	background-repeat:x-repeat;
}
  

#wrapper {
	margin-left:auto;
	margin-right:auto;
	background-color:#e6e6e6;
	background-image:url(images/bg_banner.png);
	background-repeat:repeat-x;
}

#banner {
	position:absolute;
	top:-20px;
	margin-left:80px;
	width:300px;
	padding:25px;
	background-color:#fffeeb;
	border-radius:20px 20px 20px 20px;
	transform:rotate(-7deg);
	-moz-transform:rotate(-7deg); /* Firefox 3.6 Firefox 4 */
	-webkit-transform:rotate(-7deg); /* Safari */
	-o-transform:rotate(-7deg); /* Opera */
	-ms-transform:rotate(-7deg); /* IE9 */
	border-color:#4a3320;
	border-width:1px;
	border-style:dashed;

	
}

#code {
height:150px;
background-image:url(images/code_banner.png);
background-repeat:no-repeat;
}

#title {
	font-family:"Ruluko";
	font-size:50px;
	margin-top:20px;
	color:#4a3320;
}

#subtitle {
	color:#4a3320;
}


#user {
margin:10px;
float:right;
}

#search {
	clear:both;
	margin-top:30px;
	margin-left:100px;
	width:450px;
}

#data {
background-color:white;
min-width:700px;
min-height:400px;


}

/* Style used for GWT-Widgets*/

.gwt-Button { 
	padding:10px;
	margin:10px;
	background-image:none;
	background-color:#4a3320;
	color:white;
}

.gwt-Label {
	margin:2px 15px 2px 15px;
}

.gwt-Image {
	padding:0px;
	margin:0px;
}

.gwt-SuggestBox {
	width:350px;
	height:40px;
	padding:10px;
	margin: 0px 0px 0px 0px;
}

.searchButton {
	padding:0px;
	margin: -35px 0px 0px -35px;
}

.gwt-TextBox {
	padding:10px;
	margin:10px;
}

.gwt-PasswordTextBox {
	padding:10px;
	margin:10px;
}

.gwt-TabPanel {
	padding:10px;
	margin:10px;
	background-color:#4a3320;
	color:white;
}
.gwt-TabPanelBottom {
	background-color:#4a3320;
	color:white;
}

.gwt-DecoratedTabBar {
  background-color:#4a3320;
  padding-top: 60px;
}

.gwt-TabBar {

}
.gwt-TabBar .gwt-TabBarItem {
  border-collapse: collapse;
  margin-left: 10px;
  padding: 10px 15px 10px 15px;
  background-color:#4a3320;
}

 .popupContent {
	border: 1px solid #4a3320;
	padding: 30px;
	background-color: #e6e6e6;
	box-shadow:4px 4px 25px #666
}

.popupContent .gwt-Label {
	margin: 15px 0px 3px 0px;
}

.popupContent .gwt-TextBox {
	margin: 0px 0px 0px 0px;
}
.popupContent .gwt-PasswordTextBox {
	margin: 0px 0px 0px 0px;
}


.gwt-PopupPanelGlass {
	background-color: #000;
	opacity: 0.8;
}


 .footerGrid {
	padding: 10px;
	margin: 20px;
}

.gwt-HTML {
	margin:15px:
}





.tabArea {
	width: 800px;
	margin: 10px;
	padding: 0px;
}

.snipArea {
	width: 800px;
	margin: 10px;
	padding: 0px;
}
*/


 

