
/* Style used for simple HTML*/

* {
	margin:0px;
	padding:0px;
}

html {
	margin:0px;
	padding:0px;
}


body {
 	background-color:red;
 	margin:0px;
	padding:0px;


}


h1 {
}




header {
	height:104px;
	background-image:url(images/darkblue.png);
	background-repeat:repeat-x;
	border-bottom-style:solid;
	border-color:#e6e6e6;
	border-width:1px;
}


footer {
	height:200px;
	padding-left:80px;
	padding-top:20px;
	background-image:url(images/darkblue_big.png);
	background-repeat:repeat-x;
}
  

#wrapper {
	margin-left:auto;
	margin-right:auto;
	background-color:#e6e6e6;
}

#banner {
	position:absolute;
	top:0px;
	margin-left:80px;
	width:300px;
	padding:10px;
}

#code {
height:150px;

}

#title {
	font-family:"Lato";
	font-size:40px;
	font-weight:300;
	margin-top:20px;
	color:#fffeeb;
	font-style:normal;
}

#subtitle {
	color:#fffeeb;
}


#user {
margin:10px;
float:right;
}

#search {
	clear:both;
	background-color:#3f3f3f;
	background-image:url(images/code.jpg);
	background-repeat:no-repeat;
	height:88px;
	border-bottom-style:solid;
	border-color:#e6e6e6;
	border-width:2px;
}

#data {
background-color:white;
padding-left:80px;
padding-right:80px;
padding-bottom:20px;


min-width:700px;
min-height:400px;
}




/* Style used for GWT-Widgets*/

.gwt-Button { 
	padding:10px;
	margin:10px;
	background-image:none;
	background-color:#a9c34a;
	color:white;
}

.gwt-Label {
	margin:3px 0px 3px 0px;
}

footer .gwt-Label {
	color:#fffeeb;
	font-family:"Lato";
	margin:3px 0px 3px 15px;

}

header .gwt-Label {
	color:#fffeeb;
	font-family:"Lato";
	font-weight:300;
	margin:3px 20px 3px 20px;
}

.h3 {
	font-family:"Lato";
	font-weight:700;
	margin-top:10px;
	margin-bottom:10px;
	color:#a9c34a;
}

.gwt-Image {
	padding:0px;
	margin:0px;
}

.gwt-SuggestBox {
	width:350px;
	height:20px;
	padding:10px;
	margin: 20px 0px 0px 350px;
}

.searchButton {;
	margin: 20px 0px 0px 20px;
}

.gwt-TextBox {
	padding:10px;
	margin:10px;
}

.gwt-PasswordTextBox {
	padding:10px;
	margin:10px;
}

.gwt-TabPanel {
	padding:5px;
	margin:5px;
	background-color:#4a3320;
	color:white;
}
.gwt-TabPanelBottom {
	background-color:#4a3320;
	color:white;
}

.gwt-DecoratedTabBar {
  background-color:#4a3320;
  padding-top: 30px;
}

.gwt-TabBar {
}

.gwt-TabBar .gwt-TabBarItem {
  border-collapse: collapse;
  padding: 10px 15px 10px 15px;
  background-color:#4a3320;
}

 .popupContent {
	border: 1px solid #4a3320;
	padding: 30px;
	background-color: #e6e6e6;
	box-shadow:4px 4px 25px #666
}

.popupContent .gwt-Label {
	margin: 15px 0px 3px 0px;
}

.popupContent .gwt-TextBox {
	margin: 0px 0px 0px 0px;
}
.popupContent .gwt-PasswordTextBox {
	margin: 0px 0px 0px 0px;
}


.gwt-PopupPanelGlass {
	background-color: #000;
	opacity: 0.8;
}


 .footerGrid {
}

.gwt-HTML {
	margin:15px:
}





.tabArea {
	width: 800px;
	margin: 10px;
	padding: 0px;
}

.snipArea {
	width: 800px;
	margin: 10px;
	padding: 0px;
}
*/


 

