
/* Style used for simple HTML*/

* {
	margin:0px;
	padding:0px;
}

html {
	margin:0px;
	padding:0px;
}


body {
 	background-color:red;
 	margin:0px;
	padding:0px;


}


h1 {
}

a:link {text-decoration: none;}
a:visited {text-decoration: none;color:white;}
a:active {text-decoration: none;}
a:hover {text-decoration: underline; color:white;}



header {
	height:104px;
	background-image:url(images/darkblue.png);
	background-repeat:repeat-x;
	border-bottom-style:solid;
	border-color:#e6e6e6;
	border-width:1px;
}


footer {
	height:200px;
	padding-left:80px;
	padding-top:20px;
	background-image:url(images/darkblue_big.png);
	background-repeat:repeat-x;
}
  

#wrapper {
	margin-left:auto;
	margin-right:auto;
	background-color:#e6e6e6;
}

#banner {
	position:absolute;
	top:0px;
	margin-left:80px;
	width:300px;
	padding:10px;
}

#code {
height:150px;

}

#title {
	font-family:"Lato";
	font-size:40px;
	font-weight:300;
	margin-top:20px;
	color:#fffeeb;
	font-style:normal;
}

#subtitle {
	color:#fffeeb;
}


#user {
margin:10px;
float:right;
}

#search {
	clear:both;
	background-color:#3f3f3f;
	background-image:url(images/code.jpg);
	background-repeat:no-repeat;
	height:88px;
	border-bottom-style:solid;
	border-color:#e6e6e6;
	border-width:2px;
}

#data {
background-color:white;
padding-left:80px;
padding-right:80px;
padding-bottom:20px;


min-width:700px;
min-height:400px;
}




/* Style used for GWT-Widgets*/

.gwt-Button { 
	padding:10px;
	margin:10px;
	background-image:none;
	background-color:#a9c34a;
	color:white;
}


.gwt-Label, .gwt-Anchor {
	display:block;
	margin:3px 3px 3px 3px;
}


header .gwt-Label, .gwt-Anchor {
	display:block;
	color:#fffeeb;
	font-family:"Lato";
	font-weight:300;
	margin:3px 20px 3px 20px;
}


footer .gwt-Label, .gwt-Anchor {
	display:block;
	color:#fffeeb;
	font-family:"Lato";
	margin:3px 3px 3px 15px;
}





.h3 {
	font-family:"Lato";
	font-weight:700;
	margin:10px, 0px, 10px, 0px;
	color:#a9c34a;
}

.gwt-Image {
	padding:0px;
	margin:0px;
}

.gwt-SuggestBox {
	width:350px;
	height:30px;
	padding:10px;
	margin: 20px 0px 0px 350px;
	font-size:150%;
}

.gwt-SuggestBoxPopup { 
	width:370px;
    padding: 0;
    margin: 0;
    background-color:white;
}

.gwt-SuggestBoxPopup .suggestPopupTopLeft {padding:0px;margin:0px;width:0px;height:0px;}
.gwt-SuggestBoxPopup .suggestPopupTopLeftInner {padding:0px;margin:0px;width:0px;height:0px;}
.gwt-SuggestBoxPopup .suggestPopupTopCenter {padding:0px;margin:0px;width:0px;height:0px;}
.gwt-SuggestBoxPopup .suggestPopupTopCenterInner {padding:0px;margin:0px;width:0px;height:0px;}
.gwt-SuggestBoxPopup .suggestPopupTopRight {padding:0px;margin:0px;width:0px;height:0px;}
.gwt-SuggestBoxPopup .suggestPopupTopRightInner {padding:0px;margin:0px;width:0px;height:0px;}
.gwt-SuggestBoxPopup .suggestPopupMiddleLeft {padding:0px;margin:0px;width:0px;height:0px;}
.gwt-SuggestBoxPopup .suggestPopupMiddleLeftInner {padding:0px;margin:0px;width:0px;height:0px;}
.gwt-SuggestBoxPopup .suggestPopupMiddleCenter {padding:0px;margin:0px;width:0px;height:0px;}
.gwt-SuggestBoxPopup .suggestPopupMiddleCenterInner {padding:0px;margin:0px;}
.gwt-SuggestBoxPopup .suggestPopupMiddleRight {padding:0px;margin:0px;width:0px;height:0px;}
.gwt-SuggestBoxPopup .suggestPopupMiddleRightInner {padding:0px;margin:0px;width:0px;height:0px;}
.gwt-SuggestBoxPopup .suggestPopupBottomLeft {padding:0px;margin:0px;width:0px;height:0px;}
.gwt-SuggestBoxPopup .suggestPopupBottomLeftInner {padding:0px;margin:0px;width:0px;height:0px;}
.gwt-SuggestBoxPopup .suggestPopupBottomCenter {padding:0px;margin:0px;width:0px;height:0px;}
.gwt-SuggestBoxPopup .suggestPopupBottomCenterInner {padding:0px;margin:0px;width:0px;height:0px;}
.gwt-SuggestBoxPopup .suggestPopupBottomRight {padding:0px;margin:0px;width:0px;height:0px;}
.gwt-SuggestBoxPopup .suggestPopupBottomRightInner {padding:0px;margin:0px;width:0px;height:0px;}

.gwt-SuggestBoxPopup .item { 
	width:370px;
    font-size:150%;
    color:gray;
    padding: 5px 5px 5px 10px;
    margin: 0px;
	}
.gwt-SuggestBoxPopup .item-selected { 
	background-color:#eeeeee;
	}










.searchButton {
	
	padding:13px;
	margin: 20px 0px 0px 20px;
	font-size:150%;
}

.gwt-TextBox {
	padding:10px;
	margin:10px;
}

.gwt-PasswordTextBox {
	padding:10px;
	margin:10px;
}


 .popupContent {
	border: 1px solid #4a3320;
	padding: 30px;
	background-color: #e6e6e6;
	box-shadow:4px 4px 25px #666
}

.popupContent .gwt-Label {
	margin: 15px 0px 3px 0px;
}

.popupContent .gwt-TextBox {
	margin: 0px 0px 0px 0px;
}
.popupContent .gwt-PasswordTextBox {
	margin: 0px 0px 0px 0px;
}


.gwt-PopupPanelGlass {
	background-color: #000;
	opacity: 0.8;
}


 .footerGrid {
}

.gwt-HTML {
	margin:15px:
}



.snipArea {
	width: 800px;
	margin: 10px;
	padding: 0px;
}



.leftPanel {
	width: 600px;
}

.rightPanel {
	margin-left:20px;
	width: 300px;
}


.sortArea {
	margin:20px;
	width: 600px;
	border-style:solid;
	border-color:#a9c34a;
	border-width:1px;
}

.sortArea .gwt-Label {
	
}

.sortArea .gwt-ListBox {
	
}


.resultArea {
	padding: 20px;
	margin: 20px;
	background-color:#e6e6e6;
	border-style:solid;
	border-color:#a9c34a;
	border-width:1px;
}



.catArea {
	margin-top: 20px;
	margin-bottom:20px;
	padding: 20px;
	width: 300px;
	min-height:200px;
	background-color:#e6e6e6;
	border-style:solid;
	border-color:#a9c34a;
	border-width:1px;
}

.catArea .gwt-Button {
	padding:3px;
	margin:3px;
	background-color:#fffeeb;
	color:#a9c34a;
	
}

.catArea .gwt-Label {
	margin-top:20px;
	font-family:"Lato";
	font-weight:700;
}




.tagArea {
	padding: 20px;
	width: 300px;
	min-height:200px;
	background-color:#e6e6e6;
	border-style:solid;
	border-color:#a9c34a;
	border-width:1px;
}

.tagArea .gwt-Button {
	padding:3px;
	margin:3px;
	background-color:#fffeeb;
	color:#a9c34a;
	
}

.tagArea .gwt-Label {
	margin-top:20px;
	font-family:"Lato";
	font-weight:700;
}
 

