<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<!-- 
<hibernate-configuration
        xmlns="http://www.hibernate.org/xsd/hibernate-configuration"
        xsi:schemaLocation="http://www.hibernate.org/xsd/hibernate-configuration hibernate-configuration-4.0.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
-->
<hibernate-configuration>
  <session-factory>
    <!-- Local Database connection settings -->
<!-- 
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.url">jdbc:mysql://localhost:3306/smartsnip</property>
    <property name="connection.username">hibernate</property>
    <property name="connection.password">asdfghjkl</property>
-->

    <!-- Database connection settings UIBK-Server -->
<!-- 
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://qe-informatik.uibk.ac.at:13306/12g1t9</property>
    <property name="hibernate.connection.username">12g1t9u2</property>
    <property name="hibernate.connection.password">h8R7sgJN</property>
-->

    <!-- Database connection settings Smartsnip-Server -->
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://feldspaten.org:3306/smartsnip</property>
    <property name="hibernate.connection.username">theone</property>
    <property name="hibernate.connection.password">Sepm_SS#12</property>

    <!-- property name="connection.driver_class">org.hsqldb.jdbcDriver</property -->
    <!-- property name="connection.url">jdbc:hsqldb:hsql://localhost</property -->
    <!-- property name="connection.username">sa</property -->
    <!-- property name="connection.password"></property -->


    <!-- JDBC connection pool (use the built-in) -->
    <!--  property name="connection.pool_size">1</property -->

    <!-- JDBC connection pool c3p0 -->
    <property name="hibernate.c3p0.min_size">5</property>
    <property name="hibernate.c3p0.max_size">20</property>
    <property name="hibernate.c3p0.timeout">300</property>
    <property name="hibernate.c3p0.max_statements">50</property>
    <property name="hibernate.c3p0.idle_test_period">3000</property>

    <!-- SQL dialect -->
	<property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
    <!-- property name="dialect">org.hibernate.dialect.HSQLDialect</property -->

    <!-- Enable Hibernate's automatic session context management -->
    <property name="current_session_context_class">thread</property>

    <!-- Disable the second-level cache  -->
    <!-- property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property -->

    <!-- Use EhCache as second-level cache -->
    <property name="hibernate.cache.provider_class">org.hibernate.cache.EHCacheProvider</property>
    <property name="hibernate.cache.use_second_level_cache">true</property>
    <property name="hibernate.cache.use_query_cache">true</property>
    <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.SingletonEhCacheRegionFactory</property>
	
	
    <!-- Echo all executed SQL to stdout -->
    <property name="show_sql">false</property>

	<!-- Disable new JDBC LOB creation Builder 4, it isn't supported by the DB driver -->
	<property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>

    <!-- Drop and re-create the database schema on startup -->
    <!-- property name="hbm2ddl.auto">update</property -->
    <!-- mapping resource="org/hibernate/tutorial/domain/Event.hbm.xml"/ -->
    
    <!-- set javax bean validator mode -->
    <property name="javax.persistence.validation.mode">auto</property>
    
    <!-- Hibernate Search -->
    <property name="hibernate.search.default.directory_provider">filesystem</property>
    <property name="hibernate.search.default.indexBase">/tmp/lucene/indexes</property>
    <property name="hibernate.search.lucene_version">LUCENE_CURRENT</property>
  </session-factory>
</hibernate-configuration>
